.loginH1 {
    font-size: 4rem;
}

.loginForm {
    display: flex;
    flex-direction: column;
}

.loginFormInput {
    margin: 1rem auto;
    width: 30rem;
    font-size: 2rem;
    padding: 0 1rem;
    border: none;
    border-radius: 25px;
}

.loginButton {
    margin: 2.5rem auto;
    width: 25rem;
    font-size: 2.5rem;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    background: linear-gradient(45deg, rgba(255, 0, 0, 0.5), rgba(255, 165, 0, 0.5), rgba(255, 255, 0, 0.5), rgba(0, 128, 0, 0.5), rgba(0, 0, 255, 0.5), rgba(75, 0, 130, 0.5), rgba(148, 0, 211, 0.5));
    cursor: pointer;
}


.loadingSpinner {
    margin: auto;
    /* margin-top: 50%; */
    width: 50px;
    height: 50px;
    border: 10px solid transparent;
    /* border-top: 10px solid #383636; */
    border-radius: 100%;
    animation: spinner 2s ease-in-out infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    50% {
        border: 10px solid transparent;
        border-top: 10px solid #383636;

    }
    85%, 100% {
        transform: rotate(360deg);
    }
  }

@media only screen and (max-width: 768px) {
    .loginH1 {
        font-size: 300%;
    }
    .loginFormInput {
        width: 75%;
        font-size: 125%;
    }
    .loginButton {
        width: 50%;
        font-size: 200%
    }
}