.profileWrapperDiv {
    position: relative;
    margin: 5% auto;
    width: 60rem;
    height: 30rem;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.5);
}

.profileH1 {
    padding-top: 2.5%;
    font-size: 300%;
}

.profileH2 {
    font-size: 200%;
}

.mainProfileDiv {
    margin: 2.5rem auto;
    width: 50%;
    text-align: center;
    /* width: 75rem; */
    /* height: 30rem; */
    /* background-color: white; */
    /* border-radius: 50px; */
}

.profileP {
    font-size: 150%;
    font-weight: bold;
    margin: 2rem auto;
}

.lossesSpan {
    margin-left: 13.5%;
}

.loadingSpinner {
    position: relative;
    margin: auto;
    margin-top: 10%;
    width: 50px;
    height: 50px;
    border: 10px solid transparent;
    /* border-top: 10px solid #383636; */
    border-radius: 100%;
    animation: spinner 2s ease-in-out infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    50% {
        border: 10px solid transparent;
        border-top: 10px solid #383636;

    }
    85%, 100% {
        transform: rotate(360deg);
    }
  }



@media only screen and (max-width: 768px) {
    .profileWrapperDiv {
        width: 80vw;
        height: auto;
        margin-top: 25%;
        padding: 2.5% 2.5%;
    }
    .profileH1 {
        font-size: 275%;
        margin: 0% auto 5% auto;
    }
    .profileH2 {
        font-size: 140%;
    }
    .mainProfileDiv {
        width: 100%;
    }
    .profileP {
        font-size: 125%;
    }
}