.previousGuessesWrapperDiv {
    /* margin: 5rem auto; */
    /* width: 50vw; */
    width: 35rem;
}

.previousGuessP {
    margin: 0.5rem auto;
    /* width: 35rem; */
    border-radius: 25px;
    font-size: 2rem;
    line-height: 3.25rem;
    /* background-color: rgb(225, 225, 225); */
}