.guessForm {
    margin: 5rem auto 4rem auto;
    /* margin-bottom: 2rem; */
    display: flex;
    align-items: center;
    width: 50rem;
}

.userGuessesWrapper {
    display: flex;
    width: 75%;
    /* height: 100%; */
}

.userGuessDiv {
    margin: auto 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    width: 35rem;
}

.userGuessLabel {
    /* margin: auto; */
    margin-bottom: 7.5px;
    margin-right: 5%;
    font-size: 3rem;
    font-weight: bold;
}

.userGuessInput {
    /* margin: auto; */
    font-size: 2rem;
    text-align: center;
    width: 7.5rem;
    border-radius: 15px;
    border-width: 1px;
    /* height: 1.5rem; */
}

.userGuessInput[type="number"]::-webkit-inner-spin-button,
.userGuessInput[type="number"]::-webkit-outer-spin-button {
  /* Styles here */
    appearance: none;
    margin: 0;
}

.submitGuessButton {
    /* height: 5rem; */
    /* width: 10rem; */
    height: 3.5rem;
    width: 25%;
    /* padding: 0.5rem 1rem; */
    border-radius: 20px;
    border-width: 1px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .guessForm {
        margin-top: 2rem;
        width: 90vw;
        flex-direction: column;
    }

    .userGuessesWrapper {
        width: 100%;
    }

    .userGuessDiv {
        width: 33%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .userGuessLabel {
        width: 5%;
        font-size: 150%;
        /* margin-top: 5%; */
        vertical-align: center;
        margin-bottom: 0;
        margin-left: -7.5%;
        margin-right: 0%;
        /* margin-right: 25%; */
    }

    .userGuessInput {
        width: 100%;
        font-size: 150%;
        margin-left: 25%;
        margin-right: -15%;
    }

    .submitGuessButton {
        width: 50%;
        height: 3rem;
        /* height: 50%; */
        font-size: 125%;
        margin-top: 5%;
        margin-bottom: -5.5%;
    }
}