.instructionsModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
  
.instructionsModalDiv {
/* position: absolute; */
    position: relative;
    width: 80rem;
    height: 40rem;
    background-color: white;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.welcomeH1 {
    margin-top: -0.25rem;
    position: relative;
    font-size: 4rem;
    font-weight: bold;
}

.welcomeH2 {
    font-size: 2.25rem;
    margin-top: -1.5rem;
}

.rubricDiv {
    margin: 1.25rem auto;
    display: flex;
    justify-content: space-evenly;
}

.instructionsP, .arrowHintP, .colorHintP {
    font-size: 1.75rem;
}

.instructionsIcon {
    margin-bottom: -0.25rem;
}

.closeButton {
    position: relative;
    margin: 1.5rem auto;
    height: 10%;
    width: 17.5%;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 2.75rem;
    color: black;
    font-weight: bolder;
    /* opacity: 0.65; */
    background: linear-gradient(45deg, rgba(255, 0, 0, 0.6), rgba(255, 165, 0, 0.6), rgba(255, 255, 0, 0.6), rgba(0, 128, 0, 0.6), rgba(0, 0, 255, 0.6), rgba(75, 0, 130, 0.6), rgba(148, 0, 211, 0.6));
}

@media only screen and (max-width: 768px) {
    .instructionsModalDiv {
        height: 32.5rem;
    }
    .welcomeH1 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .welcomeH2 {
        font-size: 1.25rem;
    }

    .rubricDiv {
        display: block;
        margin: 2rem auto;
    }

    .instructionsP {
        font-size: 1rem;
        text-align: justify;
    }

    .arrowHintP {
        font-size: 1rem;
    }

    .colorHintP {
        font-size: 1rem;
    }

    .closeButton {
        /* margin: 1rem; */
        font-size: 1.5rem;
        width: 35%;
    }
}