.navbarDropdownDiv {
    position: absolute;
    width: 50%;
    right: 0;
    /* margin-left: 100%; */
}

.navbarDropdownUl {
    width: 10%;
    margin-left: 31%;
    margin-top: 1.5rem;
    padding: 1rem 2rem;
    text-align: left;
    background-color: white;
    border-radius: 15px;
}

.navbarDropdownLi {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    border-width: 100% !important;
    font-size: 150%;
    padding-bottom: 0.65rem;
    /* line-height: 5rem; */
    list-style-type: none;
    
}

.navbarDropdownLink {
    color: black;
    position: relative;
    text-decoration: none;
}