.navbarWrapperDiv {
    margin-bottom: 5rem;
    margin: auto;
    height: 6rem;
    background-color: rgba(0, 0, 0, 0.5);
}

.mainNavbarDiv {
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 6rem;
}

.shadleH1 {
    text-align: center;
    font-size: 4rem;
    text-decoration: none;    
}

.navbarLink {
    text-decoration: none;
}

.menuIcon, .accountIcon {
    z-index: 11;
}

.menuIcon {
    scale: 2.5;
    transition: 0.5s ease-in-out;
    background: white;
    border-radius: 25%;    
}

.accountIcon {
    transition: 0.5s ease-in-out;
    color: black;
    background: white;
    border-radius: 50%;
    scale: 2.75;
}

.menuIcon:hover {
    transform: scale(1.2);
    transition: transform 0.5s;
    cursor: pointer;
}

.accountIcon:hover {
    transform: scale(1.2);
    transition: transform 0.5s;
    cursor: pointer;
}



@media only screen and (max-width: 768px) {
    .navbarWrapperDiv {
        height: 5rem;
    }
    .mainNavbarDiv {
        width: 100%;
    }
    .shadleH1 {
        font-size: 3rem;
        margin-top: 5%;
        /* margin-bottom: 5%; */
    }
    .menuIcon, .accountIcon {
        margin-top: -2.5%;
    }
}